html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px;
  width: 25em;
  margin: 0 auto;
  padding: 0.5em 0;

  height: 100vh;

  font-family: 'Abril Fatface', cursive;
  background-color: palegoldenrod;
  text-align: center;
  color: rgb(0,0,0);
}

button {
  font-size: 24px;
  font-family: monospace;
  background-color: black;
  color: white;
}

#thedude {
  max-width: 60%;
  max-height: 20%;
  border: 25px,25px, 20px, 25px black;
  border-radius: 10px;
}

#wrapper {
  border-radius: 10px;
}

ul {
  list-style-type: none; /* changed the styling of unordered list */
  background-color: lightblue;
}

li {
  color: darkblue;
}

div {
  margin-left: auto;
  margin-right: auto;

}

#attendance {
  background-color: lightblue;

}
