html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px;
  width: 25em;
  margin: 0 auto;
  padding: 0.5em 0;

  height: 100vh;

  font-family: 'Abril Fatface', cursive;
  background-color: #1404C2;
  text-align: center;
}

button {
  font-size: 24px;
  font-family: monospace;
}

img {
  max-width: 60%;
  max-height: 20%;
}

ul {
  list-style-type: none; /* changed the styling of unordered list */
  background-color: lightblue;
}

li {
  color: darkblue;
}

div {
  margin-left: auto;
  margin-right: auto;

}

#attendance {
  background-color: lightblue;

}